[class*="zocial-"]:before {
  color: black;
  display: inline-block;
  font-family: 'zocial', sans-serif;
  font-size: 20px;
  text-shadow: 2px 2px 2px #aaa;
  width: 2em;
}

head {
  font-family: 'Lato', sans-serif;
  font-weight: 200;
}

body {
  font-family: 'Lato', sans-serif;
  margin: 2em;
  color: #2d3c49;
  font-weight: 300;
}

div#social a {
  margin: 0 1em 0 0;
}

div#social a:last-of-type {
  margin: 0;
}

#name {
  text-align: right;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

footer {
  margin: 0 auto;
  width: 800px;
  text-align: center;
}

.text-muted {
  color: #7d97ad;
}

.text-thin {
  font-weight: 100;
}

.title-super {
  font-size: 50px;
}

.title-logo {
  margin-top: 20px;
}
div#social {

}

.col-md-4 {
	color: #2d3c49;
}

hr {
  border: 2px solid;
  color: #7d97ad;
}